script(src='/javascripts/marked.js', type='text/javascript')
script(src='/javascripts/dateFormat.js', type='text/javascript')
script(src='/javascripts/ace/ace.js', type='text/javascript')
script(src='/javascripts/ace/theme-twilight.js', type='text/javascript')
script(src='/javascripts/jquery-ui.min.js', type='text/javascript', charset='utf-8')
script(src='/javascripts/tag-it.min.js', type='text/javascript', charset='utf-8')
link(rel='stylesheet', type='text/css', href='/stylesheets/jquery-ui.css')
link(href='/stylesheets/jquery.tagit.css', rel='stylesheet', type='text/css')
link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')

#articles-wapper
  #articles-view
    ul.collapsible.popout(data-collapsible='accordion')
      each article, index in items
        li(id='article-#{index}', v-on:click="showContent")
          .collapsible-header
            i.material-icons library_books
            | #{article.title}
            .collapsible-header-right
              button.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--colored(id='#article-menu-#{index}')
                i.material-icons more_vert
              ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='#article-menu-#{index}')
                li.mdl-menu__item
                  i.material-icons(style='color:#7cb342;') edit
                  | Edit
                li.mdl-menu__item 
                  i.material-icons book
                  | Stash
                li.mdl-menu__item 
                  i.material-icons delete
                  | Delete
            .collapsible-header-right
              | #{article.date}
          .collapsible-body
            .markdown-body(width='60%')
            script.
              new Vue({
                el: '#article-#{index}',
                methods: {
                  showContent: function() {
                    var self = this;
                    $.get('content?key=#{article.key}', function(data) {
                      var className = '#article-#{index} .collapsible-body .markdown-body';
                      $(className).html('');
                      var $element = $(className).append(marked(data));
                      self.$compile($element.get(0));
                    });
                  },
                  editArticle: function() {
                    
                  },
                  stashArticle: function() {
                    
                  },
                  deleteArticle: function() {
                    
                  }
                }
                })
              
#article-add
  a.btn-floating.btn-large.waves-effect.waves-light.red(href='javascript:newPost();')
    i.material-icons add
  
script.
  $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false
    });
    $(".collapsible-header-right button").click(function(e) {
       e.stopPropagation();
    })
  });
