#articles-wapper
  #articles-view
    ul.collapsible
      each article, index in items
        li.mdl-shadow--2dp(id='article-#{index}')
          .collapsible-header(id='#{index}', key="#{article.key}")
            i.material-icons library_books
            | #{article.title}
            .collapsible-header-right
              button.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--colored(id='#article-menu-#{index}')
                i.material-icons more_vert
              ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='#article-menu-#{index}')
                li.mdl-menu__item
                  i.material-icons.green edit
                  | Edit
                li.mdl-menu__item 
                  i.material-icons.yellow book
                  | Stash
                li.mdl-menu__item 
                  i.material-icons.red delete
                  | Delete
            .collapsible-header-right
              | #{article.date}
          .collapsible-body
            .markdown-body(width='60%')
              
#article-add
  a.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored(href='/editor', style='color:white;')
    i.material-icons add
  
script.
  $(document).ready(function(){
    $(".collapsible-header-right button").click(function(e) {
       e.stopPropagation();
    })
  });
  $('.collapsible-header').each(function(index){
    var isOpened = false;
    var id = $(this).attr('id');
    var key = $(this).attr('key');
    $(this).click(function() {
      $('.collapsible-body').each(function() {
        $(this).hide();
      });
      $('.collapsible .active').each(function() {
        $(this).removeClass('active');
      });
      if (isOpened) {
        isOpened = false;
      } else {
        $.get('post?id=' + key, function(data) {
          $('#article-' + id + ' .collapsible-body').show();
          var className = '#article-' + id + ' .collapsible-body .markdown-body';
          $(className).html('');
          $(className).append(marked(data));
          $('#article-' + id).addClass('active');
        });
        isOpened = true;
      }
    });
  });
