#articles-wapper
  #articles-view
    ul.collapsible
      each article, index in items
        li.mdl-shadow--2dp(id='article-#{index}')
          .collapsible-header(v-on:click="showContent")
            i.material-icons library_books
            | #{article.title}
            .collapsible-header-right
              button.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--colored(id='#article-menu-#{index}')
                i.material-icons more_vert
              ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for='#article-menu-#{index}')
                li.mdl-menu__item
                  i.material-icons(style='color:#AEEA00;') edit
                  | Edit
                li.mdl-menu__item 
                  i.material-icons(style='color:#FF9800;') book
                  | Stash
                li.mdl-menu__item 
                  i.material-icons(style='color:#D50000;') delete
                  | Delete
            .collapsible-header-right
              | #{article.date}
          .collapsible-body
            .markdown-body(width='60%')
            script.
              new Vue({
                el: '#article-#{index}',
                data: {
                  isOpened: false
                },
                methods: {
                  showContent: function() {
                    var self = this;
                    $('.collapsible-body').each(function() {
                      $(this).hide();
                    });
                    $('.collapsible .active').each(function() {
                      $(this).removeClass('active');
                    });
                    if (self.isOpened) {
                      self.isOpened = false;
                    } else {
                      $.get('post?id=#{article.key}', function(data) {
                        $('#article-#{index} .collapsible-body').show();
                        var className = '#article-#{index} .collapsible-body .markdown-body';
                        $(className).html('');
                        var $element = $(className).append(marked(data));
                        self.$compile($element.get(0));
                        $('#article-#{index}').addClass('active');
                      });
                      self.isOpened = true;
                    }
                  },
                  editArticle: function() {
                    
                  },
                  stashArticle: function() {
                    
                  },
                  deleteArticle: function() {
                    
                  }
                }
                })
              
#article-add
  button.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored(onclick='newPostPage();', style='color:white;')
    i.material-icons add
  
script.
  $(document).ready(function(){
    $(".collapsible-header-right button").click(function(e) {
       e.stopPropagation();
    })
  });
